<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
  
  <!-- Centered Card -->
  <div class="col-lg-6 col-md-7 d-flex align-items-center justify-content-center">
    <div class="card w-100 mx-3 shadow-lg">
      <div class="card-body bg-secondary align-items-center text-light rounded">
        <!-- Navigation Tabs -->
        <ul class="nav nav-tabs mb-4 justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-light" [class.active]="activeTab === 'signin'" 
              [class.bg-warning]="activeTab === 'signin'" 
              (click)="switchTab('signin')">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" [class.active]="activeTab === 'signup'" 
              [class.bg-warning]="activeTab === 'signup'" 
              (click)="switchTab('signup')">Registration</a>
          </li>
        </ul>

        <!-- Tabs Content -->
        <div *ngIf="activeTab === 'signin'" class="px-3">
          <app-user-login></app-user-login>
        </div>
        <div *ngIf="activeTab === 'signup'" class="px-3">
          <app-user-registration></app-user-registration>
        </div>
      </div>
    </div>
  </div>

</div>


